Source: trilobite
Maintainer: Alex Kerr <kirbyman62@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: libncurses5-dev, debhelper (>= 9)

Package: trilobite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ncurses filemanager
 trilobite is an ncurses filemanager with basic functionality
